---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$SCSS_DIRS: third-party const tools base component markdown layout theme;

// Import partials from `sass_dir` (defaults to `_sass`)

@import 
		"third-party/index",
		"const/index",
		"tools/index",
		"base/index",
		"component/index",
		"markdown/index",
		"layout/index",
		"theme/index";

