---
# 本文件规定基础样式：包括定位、大小等，通常不包括配色
---

@import "normalize";

@import "default_theme";

/*******************************************************************************
# 布局样式
*******************************************************************************/
.outer { 
	width: 100%; 
}
.inner { 
	position: relative; 
	max-width: 640px; 
	padding: 20px 10px; 
	margin: 0 auto; 
}
#header_wrap .inner { 
	padding: 50px 10px 30px 10px; 
}
#main_content { 
	padding-top: 40px; 
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 480px) { body { font-size: 14px; }
  #downloads { display: none; }
  .inner { min-width: 320px; max-width: 480px; }
  #project_title { font-size: 32px; }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 21px; }
  h4 { font-size: 18px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }
  code, pre { min-width: 320px; max-width: 480px; font-size: 11px; } }