@charset "utf-8";

$bg-img: "../images/bing-bg.jpg" !default;
$bg-img-2: "../images/bg/bing-2.jpg" !default;
$bg-img-index: $z-deep;

$site-profile-img-size-l: 125px;
$site-profile-img-size-s: 80px;

$offset-left-index: $z-top;
$drop-down-menu-index: $z-above-top;