@charset "utf-8";

/**
 * 文章的前/后一篇导航
 */
.post { 
    .nav {
        position: relative;
        margin: 20px 0;
        
        @include reset-link;
        @include reset-list;

        .item {
            display: inline-block;
            line-height: $line-height--m;
        }

        .prev {
            float: right;
        }
        
        .next {
            float: left;
        } 

        // clearfix: 解决因为浮动导致的父元素坍缩问题
        @include clearfix;

        @include media-query($mobile) {

            .item {
                display: block;
            }

            .prev,
            .next {
                float: none;
                font-size: $font-size--xs;
            }

        }

    }
}