@charset "utf-8";

// 目录显示控制

#markdown-toc {

    list-style: none;
    padding: 0;
    margin-bottom: $spacing--l;

    &::before {
        display: block;
        content: "目录";
        font-size: large;
        font-weight: bold;
        margin: $spacing--l 0;
    }

    li {
        margin-bottom: $spacing--xxxs;

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @include media-query($mobile) {
        display: none;
        position: fixed;
        top: 80%;
        right: 20px;
        z-index: 3;
        background-color: #f3f3f3;
        padding: $spacing--xxs $spacing--xxs $spacing--xxs $spacing--l;

        ul {
            padding: 0;
        }

    }

    // 目录自动编号
    counter-reset: toc-h2;
    & > li {
        & > a::before {
            counter-increment: toc-h2;
            content: counter(toc-h2) " ";
        }

        & > ul {
            counter-reset: toc-h3;

            & > li {
                & > a::before {
                    counter-increment: toc-h3;
                    content: counter(toc-h2) "." counter(toc-h3) " ";
                }

                & > ul {
                    counter-reset: toc-h4;

                    & > li {
                        & > a::before {
                            counter-increment: toc-h4;
                            content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) " ";
                        }
                
                        & > ul {
                            counter-reset: toc-h5;

                            & > li {
                                & > a::before {
                                    counter-increment: toc-h5;
                                    content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5) " ";
                                }

                                & > ul {
                                    counter-reset: toc-h6;

                                    & > li {
                                        & > a::before {
                                            counter-increment: toc-h6;
                                            content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5) "." counter(toc-h6) " ";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}
