@charset "utf-8";

/**
 * banner 展示
 */
.banner {
    position: relative;
    background-position: 50% 50%;
    padding-top: $spacing--xxl;
    padding-bottom: $spacing--xxl;

    .title {
        
    }

    .description {
        line-height: $line-height--m;
        font-size: $font-size--s;
    }

    @include media-query($mobile) {
        padding-top: $spacing--xl;
        padding-bottom: $spacing--l;
    }

    @include reset-link;
}