// 只涉及配色定义

$nav_background_color: $mainBrandColor;
$nav_frontend_color: $inverseBrandColor;

.default-style {

	// 导航栏
	.site-header {
		background-color: $nav_background_color;
	}

	.site-title {
		color: $nav_frontend_color;
	}
	.site-nav {
		.menu-icon {
			color: $inverseBrandColor;
		}
		.site-menu {
			.menu-item {
				color: $inverseBrandColor;
			}
		}
	}
}