// 只涉及配色定义

$brand_background_color: #FFFFFF;
$brand_frontend_color: #333333;

$brand_border_color: #e7e7e7;

$body_background_color: #FFFFFF;
$body_frontend_color: #333333;

.default-style {

	.site-header {
		background-color: $brand_background_color;
		border-color: $brand_border_color;
	}
	.site-title {
		color: $brand_frontend_color;
	}
	.site-nav {
		.menu-icon {
			color: $brand_frontend_color;
		}
		.site-menu {
			.menu-item {
				color: $brand_frontend_color;
			}
		}
	}

	.post-nav {
		.post-list {
			.post-meta {
				color: lighten($brand_frontend_color, 20%);
			}
			.post-item {
				color: $body_frontend_color;
			}
		}
	}

	.site-footer {
		background-color: $brand_background_color;
	}
}