/***********************************************
# 用于定义基础样式，包括定位、大小、间距等内容
***********************************************/
$md_device_max_width: 1200px;
// 主框架
.outter {
	width: 100%;
}
.inner {
	width: 100%;
	margin: 0 180px 0 180px;
}

@media screen and (max-width: $md_device_max_width) {
	.inner {
		margin: 0 80px 0 80px;
	}
}
