@charset "utf-8";

// Font family
// common use
$arialFont						: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
$consolasFont					: Consolas, "Liberation Mono", Menlo, Courier, monospace;

