// Font family
// common use
$arialFont						: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
$consolasFont					: Consolas, "Liberation Mono", Menlo, Courier, monospace;

// global
$baseFont						: $arialFont;
$codeFont						: $consolasFont;
