@charset "utf-8";

// Font Size
$font-size--primary: 16px;
$font-size--xxxs: 0.65rem;
$font-size--xxs: 0.8rem;
$font-size--xs: 1rem;
$font-size--s: 1.15rem;
$font-size--m: 1.65rem;
$font-size--l: 1.85rem;
$font-size--xl: 2rem;
$font-size--xxl: 2.5rem;