@charset "utf-8";

// Line-height
$line-height--xxl           : 4rem;
$line-height--xl            : 3rem;
$line-height--l             : 2.25rem;
$line-height--m             : 2rem;
$line-height--primary       : 1.5rem;
$line-height--s             : 1.5rem;
$line-height--xs            : 1.25rem;
$line-height--xxs           : 1rem;