$spacing--xxxxs             : 4px;
$spacing--xxxs              : 6px;
$spacing--xxs               : 8px;
$spacing--xs                : 10px;
$spacing--s                 : 15px;
$spacing--m                 : 20px;
$spacing--l                 : 25px;
$spacing--xl                : 30px;
$spacing--xxl               : 40px;
$spacing--xxxl              : 50px;