@charset "utf-8";

$spacing--xxxxs             : 4px;
$spacing--xxxs              : 6px;
$spacing--xxs               : 8px;
$spacing--xs                : 10px;
$spacing--s                 : 15px;
$spacing--m                 : 20px;
$spacing--l                 : 25px;
$spacing--xl                : 80px;
$spacing--xxl               : 120px;
$spacing--xxxl              : 180px;
$spacing--xxxxl				: 360px;
