@charset "utf-8";

// Transitions
$transition--primary        : all .3s ease;
$transition--secondary      : all .6s cubic-bezier(0.3, 0.9, 0.2, 1);
$transition--tertiary       : all .3s cubic-bezier(0.93,0.7,0.4,0.57);
$transition--fast            : all .2s ease;
$transition--slow            : all 1s ease;