@charset "utf-8";

$element-width--s                   : 1.5rem;
$element-width--m                   : 2rem;

$max-width                          : 61.25rem;

$container-width--xxxxl             : 75rem;
$container-width--xxxl              : 62.5rem;
$container-width--xxl               : 61.25rem;