@charset "utf-8";

// Z-index
$z-deep						: -10;
$z-below-bottom             : -5;
$z-bottom                   : -1;
$z-base			            : 0;
$z-top                      : 1;
$z-above-top                : 5;
$z-high                     : 10;