<div class="site-profile">
	<div class="container site-profile-content">
		<img class="site-profile-img" src="{{ "/images/profile.jpg" | prepend: site.baseurl }}"/>
		<h2 class="site-profile-title">{{ site.title }}</h2>
		{% include option/social-icons.html %}
		<p class="site-profile-description">{{ site.description }}</p>
		<hr class="site-profile-separator" />
		<ul class="site-profile-quick-nav">
			{% for thePage in site.pages %}
				{% if thePage.title and thePage.layout == "page"%}
					<li class="nav-item"><a href="{{ thePage.url | prepend: site.baseurl }}">{{ thePage.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% if site.enable_bg_img %}
	<div class="site-bg"></div>
{% endif %}