{% comment %}

{% endcomment %}


{% if tags %}
<ul class="tag-list">
	{% for tag in tags %}
		<li class="item">
			<h4 class="tag" id="tag-{{ tag | first }}">{{ tag | first }} <span class="meta">共 {{ tag | last | size}} 篇</span></h4>
			<ul class="post-list">
			{% for page in tag[1] %}
				<li class="item">
					<a href="{{ page.url | prepend: site.url }}">
					<span class="title">
						{{ page.title }}
					</span>
					<hr class="seprator" />
					<span class="meta" title="发表日期">{{ page.date | date: "%Y 年 %m 月 %d 日" }}</span>	
					</a>		
				</li>
			{% endfor%}
			</ul>
		</li>
	{% endfor%}
</ul>
{% else %}
{% include config/warnings.html %}
{% endif%}