{% comment %}

1. bannerImage 和 bannerColor 属性可以在子页的头部配置，如：

```
title: Some Title
description: Some Description
bannerImage: '../images/bing-bg.jpg'
bannerColor: darkblue
```

** 注: ** 

- bannerImage 和 bannerColor 可以同时配置，但 bannerImage 优先级更高。
- bannerColor 应尽可能选择深色。

或者是通过 assign 赋值配置，如：

```
{% assign bannerImage='../images/bing-bg.jps' %}
{% assign bannerColor=darkblue %}
{% include common/site-banner.html %}
```

2. banner 中的 title 属性，按以下顺序显示：
	- 首先查找是否使用 assign 为 bannerTitle 赋值（实现局部定制化）
	- 然后考虑使用本页（page）定义的 title
	- 最后考虑使用站点（site）定义的 title

{% endcomment %}

<div class="banner"
	{% if page.bannerImage and page.bannerColor %}
		style="background-image: url({{ page.bannerImage }}); background-color: {{ page.bannerColor }};" 
	{% elsif page.bannerImage %} 
		style="background-image: url({{ page.bannerImage }});" 
	{% elsif page.bannerColor %}
		style="background-color: {{ page.bannerColor }};" 
	{% endif %}>
	<div class="container">
		<h1 class="title">
		{% if bannerTitle %}
			{{ bannerTitle }}
		{% elsif page.title %}
			{{ page.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
		</h1>
		<p class="description">
		{% if bannerDescription %}
			{{ bannerDescription }}
		{% elsif page.description %}
			{{ page.description }}
		{% elsif page.excerpt %}
			{{ page.excerpt | strip_html }}
		{% else %}
			{{ site.description }}
		{% endif %}
		</p>
	</div>
</div>