<ul class="site-profile-author">
  {% if site.github_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-github"
      title="Github"
      href="https://github.com/{{ site.github_username }}"
    ></a>
  </li>
  {% endif %}
  {% if site.codepen_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-codepen"
      href="https://codepen.io/{{ site.codepen_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.facebook_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-facebook"
      href="https://facebook.com/{{ site.facebook_username }}"
    ></a>
  </li>
  {% endif %}
  {% if site.zhihu_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-tags"
      title="知乎"
      href="zhihu.com/people/{{ site.zhihu_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.vk_username %}
  <li class="site-profile-author-icon">
    <a class="fa fa-vk" href="https://vk.com/{{ site.vk_username }}"></a>
  </li>
  {% endif %} 
  {% if site.twitter_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-twitter"
      href="https://twitter.com/{{ site.twitter_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.google_plus_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-google-plus"
      href="https://plus.google.com/+{{ site.google_plus_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.linkedin_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-linkedin"
      href="https://linkedin.com/in/{{ site.linkedin_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.vine_username %}
  <li class="site-profile-author-icon">
    <a class="fa fa-vine" href="https://vine.co/{{ site.vine_username }}"></a>
  </li>
  {% endif %} 
  {% if site.instagram_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-instagram"
      href="https://instagram.com/{{ site.instagram_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.flickr_usernmae %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-flickr"
      href="https://flickr.com/photos/{{ site.flickr_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.steam_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-steam"
      href="http://steamcommunity.com/id/{{ site.steam_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.soundcloud_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-soundcloud"
      href="https://soundcloud.com/{{ site.soundcloud_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.lastfm_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-lastfm"
      href="http://www.last.fm/user/{{ site.lastfm_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.stack_of_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-stack-overflow"
      href="https://stackoverflow.com/users/{{ site.stack_of_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.reddit_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-reddit"
      href="https://reddit.com/user/{{ site.reddit_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.medium_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-medium"
      href="https://medium.com/@{{ site.medium_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.tumblr_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-tumblr"
      href="https://{{ site.tumblr_username }}.tumblr.com/"
    ></a>
  </li>
  {% endif %} 
  {% if site.weibo_username %}
  <li class="site-profile-author-icon">
    <a
      class="fa fa-weibo"
      href="https://weibo.com/{{ site.weibo_username }}"
    ></a>
  </li>
  {% endif %} 
  {% if site.blog_url %}
  <li class="site-profile-author-icon">
    <a class="fa fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"></a>
  </li>
  {% endif %} 
  {% if site.email %}
  <li class="site-profile-author-icon">
    <a class="fa fa-envelope" href="mailto:{{ site.email }}"></a>
  </li>
  {% endif %} 
  {% if site.public_key_url %}
  <li class="site-profile-author-icon">
    <a class="fa fa-key" href="{{ site.public_key_url }}"></a>
  </li>
  {% endif %}
</ul>
