@charset "utf-8";

.dynamic-content {
	position: relative;
	.dynamic-content-header {
		.dynamic-content-list {
			padding: 0;
			.dynamic-content-list-item {
				display: inline-block;
				margin: $spacing--xxxs;
				a {
                    display: block;
                    border: 1px solid;
                    font-size: $font-size--xs;
					border-radius: $spacing--xxs;
                    padding: 0 $spacing--xxs;

                    &:hover,
                    &:active,
                    &.active-arch {
                    	background-color: #333;
                    	color: #fff;
                    }
                }
			}
		}
	}
}
