@charset "utf-8";

// 首页
.site-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: $bg-img-index !important;
	background-image: url(#{$bg-img});
	background-position: 40% 80%;
	background-repeat: no-repeat;
}

.site-profile {
    text-align: center;
    width: 100vw;
    height: 80vh;
    position: relative;

    @include reset-list;
    @include reset-link;

    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include media-query($mobile) {
            left: 20%;
            top: 50%;
            transform: translateX(-12.5%) translateY(-50%);
        }
    }

    .content {

    }

    .image {
        width: $site-profile-img-size-l !important;
        height: 100%;
        max-width: 100%;
        border-radius: 100%;

        @include media-query($mobile) {
            width: $site-profile-img-size-s !important;
        }
    }

    .title {

    }

    .description {
        font-size: $font-size--xxs;
    }

    .site-profile-author {
        .site-profile-author-icon {
            display: inline-block;
            margin: 0 $spacing--xxxxs;

            a {
                width: 24px;
                height: 24px;
                line-height: 24px;
                padding: 2px;
                border-radius: 50%;
                transition: background-color $transition--primary;

                &:hover {
                    color: #FFF;
                    background-color: #333;
                }
            }
        }
    }

    .separator {
        position: relative;
        margin: $spacing--m auto;
        max-width: 80vw;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    .quick-nav {
        margin: 5px auto;

        .nav-item {
            display: inline-block;
            margin: 0 $spacing--xxxs;

            a {
                display: inline-block;
                padding: $spacing--xxxxs;
                border: 1px solid #333;
                font-size: $font-size--xxs;
                transition: background-color $transition--primary;

                &:hover {
                    color: #FFF;
                    background-color: #333;
                }
            }
        }
    }
}