@charset "utf-8";

// 首页
.site-bg {
	z-index: -10 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-image: url(#{$bg-img});
	background-position: 40% 80%;
	background-repeat: no-repeat;
}

.site-profile {
    text-align: center;

    ul, li {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    .site-profile-img {
        width: 125px !important;
        height: 100%;
        max-width: 100%;
        border-radius: 100%;
        border-width: 0;
        margin-top: $spacing--xxl;

        @include media-query($mobile) {
            margin-top: $spacing--m;
        }
    }

    .site-profile-title {
        margin: $spacing--s 0;
    }

    .site-profile-leading {
        font-size: $font-size--s;
        line-height: $line-height--m;
    }

    .site-profile-description {
        font-size: $font-size--xxs;
    }

    .site-profile-author {
        .site-profile-author-icon {
            display: inline-block;

            &:not(last-child) {
                margin-right: $spacing--xxxs;
            }

            a {
                width: 24px;
                height: 24px;
                line-height: 24px;
                border: 1px solid #333;
                border-radius: 50%;
                transition: $transition--primary;

                &:hover {
                    color: #FFF;
                    background-color: #333;
                    transition: $transition--primary;
                }
            }
        }
    }

    .site-profile-category {
        .site-profile-category-item {
            display: inline-block;
            font-size: $font-size--xxs;
            padding-left: $spacing--xxxs;
            padding-right: $spacing--xxxs;
            border-width: 1px;
            border-style: solid;
            border-radius: $line-height--s / 2;
            margin: $spacing--xxxs;
        }
    }

    .site-profile-separator {
        position: relative;
        width: 100%;
        margin: $line-height--s auto;
        content: "";
        height: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        max-width: 800px;

        &:before {
            display: block;
            position: absolute;
            top: -4px;
            left: 50%;
            margin-left: -5px;
            content: " ";
            width: 7px;
            height: 7px;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            background-color: #fff;
        }
    }

    .site-profile-quick-nav {
        margin: 5px auto;

        .nav-item {
            display: inline-block;

            &:not(last-child) {
                margin-right: $spacing--xxxs;
            }

            a {
                padding: $spacing--xxxxs;
                border: 1px solid #333;
                font-size: $font-size--xxs;
                transition: $transition--primary;

                &:hover {
                    color: #FFF;
                    background-color: #333;
                    transition: $transition--primary;
                }
            }
        }
    }
}