<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div id="header_wrap" class="outer">
			<header class="inner">
				<a href="" id="forkme_banner">View on github</a>
				<h1 id="project_title">{{ page.title }}</h1>
				<h2 id="project_tagline">这里是描述</h2>
			</header>
		</div>

		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>

		<div id="footer_wrap" class="outer">
			<footer class="inner">
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</div>
	</body>
</html>
