---
layout: base
description: 用于博客文章页面的布局
---
{% include common/site-header.html %}
{% include common/site-banner.html %}
<main class="site-post">
	<div class="container">
		<header class="header">
			{% include config/post-meta.html %}
		</header>
		<article class="content">
			{{ content }}
		</article>
		<footer class="footer">
			<ul class="post-nav">
				{% if page.next %}
				<li class="post-nav-next">
					<a href="{{ page.next.url | prepend: site.url }}">上一篇：{{ page.next.title }}</a>
				</li>
				{% endif %}
				{% if page.previous %}
				<li class="post-nav-prev">
					<a href="{{ page.previous.url | prepend: site.url }}">下一篇：{{ page.previous.title }}</span></a>
				</li>
				{% endif %}
			</ul>
		</footer>
	</div>
</main>
{% include common/site-footer.html %}
