---
layout: default
description: 用于博客文章页面的布局
---

<article class="site-post">

	<header class="post-header">
		<!-- <h1 class="post-title">{{ page.title }}</h1> -->
		<p class="post-meta-info">
			<time datetime="{{ page.date | date_to_xmlschema }}">
				{{ page.date | date: "%b %-d, %Y" }}
			</time>
			{% if page.author %}
			<span class="post-meta">
				{{ page.author }}
			</span>
			{% endif %}
			{% for page-category in page.categories %}
			<span class="post-meta">
				<a href="/categories#tag-{{ page-category }}">{{ page-category }}</a>
			</span>
			{% endfor %}
		</p>
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<div class="post-nav">
		{% if page.previous %}
		<a class="post-nav-prev" href="{{ page.previous.url | prepend: site.baseurl }}">上一篇：{{ page.previous.title }}</a>
		{% endif %}
		{% if page.next %}
		<a class="post-nav-next" href="{{ page.next.url | prepend: site.baseurl }}">下一篇：{{ page.next.title }}</a>
		{% endif %}
	</div>

</article>
