@charset "utf-8";

@mixin generate-theme($brand_background_color, $brand_leading_color, $brand_frontend_color, $body_background_color, $body_frontend_color) {

	// body scale
	@include site-body-theme($body_frontend_color, $body_background_color, $brand_leading_color);
	// header: title and nav
	@include site-header-theme($brand_background_color, $brand_leading_color, $brand_frontend_color);
	// banner
	@include site-banner-theme($brand_background_color, darken($brand_background_color, 10%));
	// footer
	@include site-footer-theme(lighten($body_frontend_color, 20%), darken($brand_background_color, 5%));

}

@mixin site-body-theme($color, $bgColor, $leading) {
	color: $color;
	background-color: $bgColor;

	.site-title {
		color: $leading;
	}
}

/**
 * header 部分主题：nav及下拉列表
 * 
 * @param  {[type]} $headerBg 大背景
 * @param  {[type]} $leading  大标题
 * @param  {[type]} $color    默认字体颜色
 */
@mixin site-header-theme($headerBg, $leading, $color) {
	.site-header {
		background-color: $headerBg;
		color: $color;

		.site-nav {
			a {
				color: $color;

				&:hover,
				&:active,
				&.active {
					color: $leading;
				}
			}
		}
	}

}

@mixin site-banner-theme($tColor, $dColor) {
	.site-banner {
		.site-banner-title {
			color: $tColor;
		}

		.site-banner-description {
			color: $dColor;
		}
	}
}

@mixin site-profile-theme($leading, $border, $separator, $bg) {
	.site-profile {

		.site-category {
			.site-category-item {
				color: $gray;
				border-color: #E05555;
			}
			a:hover {
				color: $black;
				border-color: darken($leading, 20%);
			}
		}

		.site-separator {
			border-color: $border;
			&:before {
				background-color: $bg;
				border-color: $border;
			}
		}
	}
}

@mixin post-theme($border, $front) {
	.post-nav {
		.post-list {
			border-top-color: $border;
			.post-meta {
				color: lighten($front, 20%);
			}
			.post-item {
				color: $front;
			}
			.post-category {
				color: lighten($front, 20%);
				border: $dark-gray 1px solid;
			}
		}
	}
}

@mixin site-footer-theme($footerColor, $footerBg) {
	.site-footer {
		background-color: $footerBg;
		color: $footerColor;
	}
}
