@charset "utf-8";

/**
 * 生成站点配色主题
 *
 * 只应该调用这一个入口
 */
@mixin generate-theme($brand_background_color, 
                    $brand_frontend_color, 
                    $brand_leading_color, 
                    $body_background_color, 
                    $body_frontend_color) {

    // body scale
    @include site-body-theme($body_frontend_color, 
                            $body_background_color);

    // header: title and nav
    @include site-header-theme($brand_background_color, 
                            $brand_leading_color, 
                            $brand_frontend_color);

    // banner
    @include site-banner-theme($brand_background_color, 
                            $body_frontend_color);

    // footer
    @include site-footer-theme($brand_frontend_color, 
                            $brand_background_color, 
                            $brand_leading_color);

    // profile
    @include site-profile-theme($brand_leading_color, 
                            $brand_frontend_color, 
                            $brand_background_color);
}

/**
 * 全局主题基调
 * 
 * @param  {[type]} $color
 * @param  {[type]} $bg   
 */
@mixin site-body-theme($color, $bg) {
    color: $color;
    background-color: $bg;
}

/**
 * header 部分主题：nav及下拉列表
 * 
 * @param  {[type]} $headerBg 大背景
 * @param  {[type]} $leading  大标题
 * @param  {[type]} $color    默认字体颜色
 */
@mixin site-header-theme($bg, $leading, $color) {
    .header {
        background-color: $bg;
        color: $color;

        .title {
            color: $leading;
        }

        .nav {

            .menu {
                a {
                    color: $color;
                    background-color: $bg;
                    

                    &:hover,
                    &:active,
                    &.active {
                        color: $bg;
                        background-color: $color;
                    }
                }
            }
        }
    }

}

/**
 * banner 主题配置
 * 
 * @param  {[type]} $color 前景
 * @param  {[type]} $bg    背景
 */
@mixin site-banner-theme($color, $bg) {
    .banner {
        color: $color;
        background-color: $bg;
    }
}

@mixin site-profile-theme($leading, $color, $bg) {
    .site-profile {
        .title {
            color: $leading;
        }
    }
}

@mixin post-theme($border, $front) {
    .post {

    }
}

@mixin site-footer-theme($color, $bg, $leading) {
    .footer {
        background-color: $bg;
        color: $color;

        .title {
            color: $leading;
        }
    }
}
