@charset "utf-8";



@mixin clearfix() {
	&:after {
	    content: "";
	    display: block;
	    height: 0;
	    clear: both;
	}
}

@mixin reset-list() {
	ul, li {
	    padding: 0;
	    margin: 0;
	}

	li {
	    list-style: none;
	}
}

@mixin reset-link() {
	a {
	    text-decoration: none;
	    color: inherit;
	}
}