@charset "utf-8";

/**
 * banner 展示
 */
.site-banner {
	position: relative;
    background-position: 50% 50%;
    padding-top: $spacing--xl*1.5;
    padding-bottom: $spacing--xl;

    @include reset-link;

    .title {
        
    }

	.description {
        line-height: $line-height--m;
        font-size: $font-size--s;
    }

    @include media-query($mobile) {
	    padding-top: $spacing--l*1.5;
	    padding-bottom: $spacing--l;
    }
}