@charset "utf-8";

.site-banner {
	position: relative;
    background-position: 50% 50%;
    padding-top: $spacing--xxl*1.5;
    padding-bottom: $spacing--xl;
    color: #ddd;
    background-color: #333;

    @include reset-link;

    .title {
        
    }

	.description {
        display: inline-block;
        line-height: $line-height--m;
        font-size: $font-size--s;
    }

    @include media-query($mobile) {
	    padding-top: $spacing--xl*1.5;
	    padding-bottom: $spacing--xl;
    }
}