// Layout

// 说明：默认是大屏幕的布局

// 标题

.site-header {
	display: block;
	position: relative;

    .site-title {
        text-decoration: none;
    }
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {

        &:not(:last-child) {
            margin-right: $spacing--l;
        }
    }

    a,
    a:hover,
    a:link {
        text-decoration: none;
    }

}

// 内容

.page-content {
    display: block;
    position: relative;
}

// 页尾

.site-footer {
    display: block;
    position: relative;
}

// 控制内容显示范围

.container {
    padding-left: $padding--l / 2;
    padding-right: $padding--l / 2;
}