// Layout

// 说明：默认是大屏幕的布局

// 标题

.site-header {
	display: block;
	position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .site-title {
        font-size: $font-size--s;
        line-height: $line-height--l;
    }
}

.site-title {
    text-decoration: none;
}

.site-nav {
    float: right;

    .menu-icon {
        display: none;
        line-height: $line-height--l;
    }

    .menu-item {
        line-height: $line-height--l;
        &:not(:last-child) {
            margin-right: $spacing--l;
        }
    }

    a,
    a:hover,
    a:link {
        text-decoration: none;
    }

}

.site-banner {
    position: relative;
    margin-top: $spacing--l;
    margin-bottom: $spacing--l;
}

.site-description {
    display: inline-block;
    line-height: $line-height--m;
    font-size: $font-size--s;
    text-indent: 2em;
}

// 内容

.page-content {
    display: block;
    position: relative;
}

.post-nav {

    .post-heading {
        // TODO
    }

    .post-list {

        .post-meta {
            display: inline-block;
            font-size: $font-size--xxs;
            padding-right: $spacing--s;
        }
        .post-category {
            display: inline-block;
            font-size: $font-size--xxs;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 4px;
        }
        .post-item {
            font-size: $font-size--m;
        }
        li {
            &:not(last-child) {
                margin-bottom: $spacing--l;
            }
        }

        a,
        a:hover,
        a:visited {
            text-decoration: none;
        }
    }
}

// 页尾

.site-footer {
    display: block;
    position: relative;
    padding-top: $padding--s;
    padding-bottom: $padding--s;
    border-top-width: 1px;
    border-top-style: solid;
    
    .site-title {
        font-size: $font-size--xxs;
    }
}

// 控制内容显示范围

.container {
    padding-left: $padding--l / 2;
    padding-right: $padding--l / 2;

    @include media-query($mobile) {
        padding-left: $padding--m / 2;
        padding-right: $padding--m / 2;
    }
}