@charset "utf-8";

// 标题

.site-header {
    display: block;
    position: relative;
    
    a {
        text-decoration: none;
    }

    .site-title {
        display: inline-block;
        height: $line-height--l;
        line-height: $line-height--l;
    }

    .site-nav {
        float: right;

        .site-nav-menu-icon {
            display: none;
            line-height: $line-height--l;

            @include media-query($mobile) {
            	display: block;
            }
        }

        .site-nav-menu {
            display: inline-block;
	        padding: 0;
	        margin: 0;

            .site-nav-menu-item {
                display: inline-block;
                list-style: none;

                a {
                    display: block;
                    padding: 0 $spacing--l;
                    line-height: $line-height--l;
                    text-decoration: none;
                }
            }

            @include media-query($mobile) {
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                z-index: $drop-down-menu-index;

                .site-nav-menu-item {
                    display: block;
                    margin: 0;

                    a {
                        display: block;
                        line-height: $line-height--l;
                        padding: 0 $spacing--l;
                    }
                }
            }
        }
    }
}
