@charset "utf-8";

/**
 * 页面头部：导航栏
 */

.site-header {
    display: block;
    position: relative;

    .title {
        display: inline-block;
        font-size: $font-size--m;
        height: $line-height--l;
        line-height: $line-height--l;
    }

    @include reset-link;
    @include clearfix;
}
