@charset "utf-8";

/**
 * 文章的前/后一篇导航
 */
.post-nav {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    
	@include reset-link;

   .prev {
        display: inline-block;
        float: right;
    }
    
    .next {
        display: inline-block;
        float: left;
    } 

    // clearfix: 解决因为浮动导致的父元素坍缩问题
    @include clearfix;

    @include media-query($mobile) {
        height: auto;

        .prev,
        .next {
            display: block;
            float: none;
            font-size: $font-size--xs;
        }

    }

}