@charset "utf-8";


/**
 * 文章列表
 */
.post-list {
    @include reset-link;
    @include reset-list;

    .item {
        position: relative; // 为 float 对象提供坐标
        margin: $spacing--m 0;

        a.more {
            float: right;
            font-size: $font-size--xxs;
            padding: $spacing--xxs $spacing--s;
            border-radius: 5px;
        }

        @include clearfix;
    }
    
}