@charset "utf-8";

// 文章页面

// 文章导航
.post-nav,
.post-list,
.site-post {
    a {
        text-decoration: none;
        color: inherit !important;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post-nav,
.post-list {

    ul, ol {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

.post-list {

    .post-list-item {
        display: inline-block;
        width: 33%;

        @include media-query($mobile) {
            display: block;
            width: auto;
        }

        .post-title {
            font-size: $font-size--s;
            font-weight: 400;
        }

        .post-index {
            display: inline-block;
            font-size: $font-size--xxs;
            float: right;
        }

        .post-meta {
            font-size: $font-size--xxs;
        }

        a {
            display: block;
            padding: $spacing--xxs $spacing--s;
            
            &:hover {
                background-color: darken(#fff, 3%);
            }
        }

    }
    
}

.site-post {

	.post-header {

	}

	.post-title {

	}

    .post-meta {
        display: inline-block;
        font-size: 0.85rem;
        padding: 3px;
    }

    .post-tag {
        display: inline-block;
        padding: $spacing--xxxxs;
    }

    .post-content {

    }

    .post-nav {
        position: relative;
        width: 100%;
        padding: $spacing--m 0;

        .post-nav-prev {
            display: inline-block;
            float: right;
        }

        .post-nav-next {
            display: inline-block;
            float: left;
        }

        // clearfix: 解决因为浮动导致的父元素坍缩问题
        @include clearfix;

        @include media-query($mobile) {
            height: auto;

            .post-nav-prev,
            .post-nav-next {
                display: block;
                float: none;
                font-size: $font-size--xs;
            }

        }
    }

}