@charset "utf-8";

// 文章页面

// 博客文章列表样式
.post-nav {

    ul, li {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .post-heading {
        // TODO
    }

    .post-list {

        .post-item {
            display: inline-block;
            width: 33%;

            @include media-query($mobile) {
                display: block;
                width: auto;
            }

            .post-title {
                font-size: $font-size--s;
                font-weight: 400;
            }

            .post-index {
                display: inline-block;
                font-size: $font-size--xxs;
                float: right;
            }

            .post-meta {
                font-size: $font-size--xxs;
            }

            a {
                display: block;
                padding: $spacing--xxs $spacing--s;
                
                &:hover {
                    background-color: darken(#fff, 3%);
                }
            }

        }
        
    }
}

.site-post {

	.post-header {

	}

	.post-title {

	}

    .post-meta-info {
        display: block;

        &:first-child {
            margin-left: 3px;
        }

        &:last-child {
            margin-right: 3px;
        }
    }

    .post-meta {
        display: inline-block;
        font-size: 0.85rem;
        padding: 3px;
    }

    .post-content {

    }

    .post-category {
        display: inline-block;
        font-size: $font-size--xxs;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 4px;

        @include media-query($mobile) {
            display: none;
        }
    }

    .post-nav {
        position: relative;
        width: 100%;
        height: 56px;
        padding-top: 20px;

        .post-nav-prev {
            float: right;
        }
        .post-nav-next {
            float: left;
        }

        @include media-query($mobile) {
            height: auto;
            padding-bottom: 20px;

            .post-nav-prev,
            .post-nav-next {
                display: block;
                float: none;
                font-size: 0.85rem;
            }

        }
    }

}