@charset "utf-8";

// 文章页面
.site-post {
    flex: 1;

	.title {

	}

    .meta {
        display: inline-block;
        line-height: 1.2rem;
        font-size: 0.85rem;
        padding: 3px;

        >.item:not(last) {
            padding-right: $spacing--xxs;
        }
    }

    .tag {
        display: inline-block;

        &:after {
            content: "#";
        }
    }

}