@charset "utf-8";

.tag-list {
	margin: 0;
	padding: $spacing--m 0;

	@include reset-list;

	.item {

	}

	.tag {
		.meta {
			font-size: .85rem;
			color: #666;
		}
	}

	.post-list {
		
		.item {

			>a {
				display: flex;
				flex-direction: row;
				line-height: 2rem;
				flex-wrap: wrap;
				justify-content: flex-end;
			}
			

			.title {
				display: inline-block;
			}

			.seprator {
				display: inline-block;
				margin: 1rem 0;
				flex: 1;
				border: 0;
		        height: 1px;
		        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
			}

			.meta {
				
			}

		}
	}
}
