@charset "utf-8";

.title {
    font-weight: bold;
}

.header {

}

.footer {

}

.meta {
    font-size: $font-size--xxs;
}

.description {

}

.content {
    
}

.hidden {
    display: none;
}

.shadow-box {
    box-shadow: 
            0 2px 2px 0 rgba(0,0,0,0.16), 
            0 0 0 1px rgba(0,0,0,0.08);
}
