@charset "utf-8";

.collapse-base {
    position: relative;

    &.collapse-item-inactive {
        display: none;
    }
}

.item-hidden {
	display: none;
}

.center-wraper {
    text-align: center;
}

.container {

}

.title {

}

.description {

}

.content {
	
}
