// reset

// 说明：该文件定义对站点元素样式的重置

a,
a:hover,
a:link {
    text-decoration: none;
}

html {
	color: $font-color-base;
	font-family: $base-font;
}

body {
	// for center and responsive.
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 $padding-content--l;
}

table {
	display: block;
	width: 100%;
	word-break: keep-all;
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	border: 1px solid #dddddd;
	line-height: 1.6;
	padding: 6px 13px;
}

tbody {
	tr {
		&:nth-child(2n) {
			background-color: #f8f8f8;
		}
		&:hover {
			background-color: #f8f8f8;
		}
	}
}

blockquote {
	border-left: 4px solid #dddddd;
	margin: 0;
	padding-left: 1em;
}