// reset

// 说明：该文件定义对站点元素样式的重置

a,
a:hover,
a:link {
    text-decoration: none;
}

body {
	// for center and responsive.
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 $padding-content--l;
}