@charset "utf-8";

// global
$baseFont: $arialFont;
$codeFont: $consolasFont;

// Text
:root,
html {
    font-family: $baseFont;
    font-size: $font-size--primary;
    line-height: $line-height--primary;
}

code,
pre {
    font-family: $codeFont;
    font-size: $font-size--primary;
}

h1 {
    font-size: $font-size--xxl;
}

h2 {
    font-size: $font-size--xl;
}

h3 {
    font-size: $font-size--l;
}

h4 {
    font-size: $font-size--m;
}

h5 {
    font-size: $font-size--s;
}

h6 {
    font-size: $font-size--xs;
}